@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 80%;
    margin: 0 auto;
}

.wrapper-large {
    width: 83%;
    margin: 0 auto;
}


/*common styling*/

.btn {
    padding: 11px 0;
    border: 2px solid #fab700;
    background-color: #fab700;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}


/*=================================
  Header styling starts here
=================================*/

header {
    border-top: 2px solid #000;
    margin-top: 5px;
}

header .wrapper-large {
    padding: 18px 0;
    display: flex;
}

nav {
    flex: 1 45%;
}

.logo {
    width: 55%;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding: 10px 0;
    padding-right: 5%;
}

.nav-item a {
    color: #454545;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-item a:hover {
    color: #fab700;
}

.nav-item:nth-last-child(3) {
    position: relative;
}

.nav-item:nth-last-child(3)>a::after {
    padding-left: 15%;
    color: #000;
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f107';
}

.nav-item:nth-last-child(3)>a:hover::after {
    content: '\f106';
}

.blogs {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 1;
}

.blog {
    padding: 10px 0;
    color: #000;
    font-weight: 600;
}

.menu {
    display: none;
}

.nav-item:nth-last-child(3):hover .blogs {
    display: flex;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/


/*banner start here */

.banner {
    padding: 101px 0 205px 0;
    background: rgba(0, 0, 0, 0.5) url('../images/banner-bg.jpg') center no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-sub-title {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.banner-title {
    padding: 29px 0 35px 0;
    color: #fff;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}

.banner p {
    padding-bottom: 18px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.btn-start {
    padding: 11px 2.2%;
}

.btn:hover {
    background-color: #fff;
    color: #fab700;
}


/*banner ends here*/


/*services start here*/

.services {
    padding: 136px 0 175px 0;
    display: flex;
    justify-content: space-between;
}

.service {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service:last-child {
    padding-right: 0;
}

.icon {
    padding: 36px;
    border: 1px solid #656565;
    display: inline-block;
}

.service-title {
    padding: 40px 0 28px 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.service-description {
    color: #454545;
    font-size: 16px;
    text-align: center;
}


/*services end here*/


/*quotes start here*/

.request-quote .wrapper-large {
    display: flex;
}

.description {
    width: 70%;
    padding-top: 30px;
}

.quote-sub-title {
    color: #fab700;
    font-size: 16px;
}

.quote-title {
    width: 50%;
    padding: 16px 0 34px 0;
    color: #000;
    font-size: 34px;
    font-weight: 900;
}

.quote-line {
    padding-bottom: 16px;
    color: #000;
}

.quote-description {
    width: 95%;
    padding-bottom: 40px;
    color: #454545;
    text-align: justify;
    line-height: 1.5;
}

.btn-start-now {
    padding: 11px 4%;
}

.form {
    flex-basis: 30%;
    padding: 31px 0;
    margin: 0 auto;
    display: flex;
    background: rgba(0, 0, 0, 0.5) url('../images/form-bg.jpg') center no-repeat;
    background-blend-mode: multiply;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

form[name=contact] {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    width: 80%;
    padding-bottom: 16px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    text-align: left;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 2%;
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

option {
    color: #000;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2%;
    min-height: 108px;
    border: 1px solid #fff;
    display: block;
    background-color: transparent;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
}

input:focus,
textarea:focus,
select:focus {
    outline: transparent;
}

input[type=submit] {
    font-size: 12px;
}

.form div {
    width: 100%;
}

.select-service,
.name,
.phone,
.email,
.textarea {
    padding-bottom: 4px;
}


/*quotes ends here*/


/*market start here*/

.market-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.market-sub-title {
    color: #454545;
    text-align: center;
}

.markets {
    display: flex;
}


/*market end here*/


/*data start here */

.data {
    background: url(../images/ramp.jpg);
}


/*data end here*/


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}